body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.title {
    text-align: center;
}
div.table {
    width: 100%;
    text-align: center;
}
div.row-full {
    display: inline-block;
    min-width: 460px;
    width: 460px;
    height: 24px;
}
div.col-left {
    width: 48%; /*fraction of a fraction*/
    float: left;
    text-align: left;
}
div.col-right {
    width: 48%; /*fraction of a fraction*/
    float: right;
    text-align: left;
}
div.col-middle {
    width: 100%; /*fraction of a fraction*/
    float: none;
    text-align: center;
}
div#d3Stage {
    width: 100%;
    display: block;
    overflow: scroll;
}
rect.echo-rect {
    stroke: white;
    stroke-width: 1px;
    cursor: pointer;
}
// rect.echo-rect.playing {
//     fill: black !important;
// }
#echonestAPIKeyForm {
    width: 100%;
}
#trackURLForm {
    width: 100%;
}
#trackURLFile {
    display:block;
    height:0;
    width:0;
}
#player.stopped #stopButton {
    display: none;
}
#player.playing #playButton {
    display: none;
}
.not-loaded {
    visibility: hidden;
}
.not-needed {
    visibility: hidden;
}